{% extends "GruposSociales/plantilla_base.html"  %}
{%block base%}
<a class="navbar-brand" href="{% url 'Formulario de Amigos' %}">Añadir amigos</a><br>
<a class="navbar-brand" href="{% url 'busqueda_amigos_form' %}">Buscar amigos</a>

{% if amigos %}
<h1>Amigos: </h1>
<table border="4"> 
    <tr>
      <td>
          <bol>Nombre</bol>
      </td>
      <td>
          <bol>Apellido</bol>
      </td>
      <td>
          <bol>edad</bol>
      </td>
      <td>
          <bol>email</bol>
      </td>
    </tr>
    {% for amigo in amigos %} 
    <tr>
       <td>{{amigo.nombre}}</td>
       <td>{{amigo.apellido}}</td>
       <td>{{amigo.edad}}</td>
       <td>{{amigo.email}}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<h4>No hay amigos con ese nombre </h4>
  {% endif  %}  
{%endblock base%}