{% extends "GruposSociales/plantilla_base.html"  %}
{%block base%}

<a class="navbar-brand" href="{% url 'Formulario de Compañeros' %}">Nuevo compañero</a>

<h1>Compañeros: </h1>
<table border="4"> 
    <tr>
      <td>
          <bol>Nombre</bol>
      </td>
      <td>
          <bol>Apellido</bol>
      </td>

      <td>
          <bol>email</bol>
      </td>
    </tr>
    {% for compañero in compañeros %} 
    <tr>
       <td>{{compañero.nombre}}</td>
       <td>{{compañero.apellido}}</td>
       <td>{{compañero.edad}}</td>
       <td>{{compañero.email}}</td>
    </tr>
    {% endfor %}
  </table>
{%endblock base%}