{% extends "CoderBlog/plantilla_base.html" %}
{%block sin_margen%}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Jerónimo Duarte, Javier Dahir, Javier Martínez Riera </h1>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="grid-item1"><img src="/media/fotojaviermartinez.jpg" alt="fotoMartinez">
        <p class="texto1">Javier Martinez Rivera: Tengo 26 años, soy ingeniero industrial recibido en la Universidad de Santo Tomas de Aquino, Tucumán.
            Trabajo en una empresa constructora part time. 
            Perfil LinkedIn: http://linkedin.com/in/javimriera
            javimartinezriera@gmail.com.</p>
    </div>
    <div class="grid-item2"><img src="/media/fotojavierdahir.jpg" alt="fotoDahir">
        <p class="texto2">Javier Dahir: Tengo 35, soy Lic. en Administracion Egresado de la UBA, me dedico al Analisis de Datos 
            y a la Ineteligencia de negocios.
            Perfil Linkedin: linkedin.com/in/javier-dahir-37827768.
            Javierad@hotmail.com.ar</p>
    </div>
    <div class="grid-item3"> <img src="/media/fotojeronimo1.jpg" alt="fotoJeronimo">
        <p class="texto3">Jeronimo Duarte: Tengo 18 años, termine la secundaria en el Instituto saenz,
            ubicado en  Buenos Aires, Lomas de Zamora. Jeronimoduarte2004@gmail.com,.</p>
    </div>






</div>

{%endblock sin_margen%}