{% extends "CoderBlog/plantilla_base.html" %}
{%block sin_margen%}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Jerónimo Duarte, Javier Dahir, Javier Martínez Riera </h1>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="grid-item1"><img src="/media/fotojaviermartinez.jpg" alt="fotoMartinez">
        <p class="texto1">Alumno: Javier Martinez Lorem ipsum dolor sit amet consectetur adipisicing elit. Non harum ipsum suscipit
            quia deleniti. Eos cumque similique quidem quo perspiciatis, inventore repellat aut labore sapiente numquam,
            unde nostrum, sunt dolorum.</p>
    </div>
    <div class="grid-item2"><img src="/media/fotojavierdahir.jpg" alt="fotoDahir">
        <p class="texto2">Alumno: Javier Dahir Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur itaque facilis
            tempora, reiciendis iure numquam minus aliquid repudiandae molestiae impedit eos minima earum exercitationem
            excepturi! Illo dolore perferendis repellendus!</p>
    </div>
    <div class="grid-item3"> <img src="/media/fotojeronimo1.jpg" alt="fotoJeronimo">
        <p class="texto3">Alumno: Jerónimo Duarte Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga asperiores quia sunt
            quae sint impedit numquam quos. Quos quia eum iusto, deleniti ut, neque odit incidunt ipsum, saepe provident
            tempora.</p>
    </div>






</div>

{%endblock sin_margen%}