{% extends "CoderBlog/plantilla_base.html"  %}
{%block sin_margen%}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h3 class="mb-5">El proyecto es un blog donde quienes deseen ingresar podran observar en la pagina de inicio mensajes dirijidos por otros amigos de la pagina, podran ser mensajes chistoso o avisos.
                        El blog cuenta con 6 paginas: <br>
                        1- Inicio desde donde se puede Navegar<br>
                        2- Noticias es la pagina de lectura de los Mensajes<br>
                        3- Inicio de cuenta<br>
                        4- Creacion de Cuenta<br>
                        5- Perfil desde donde se puede crear un avatar y subir los mensajes a noticias, tambien se podran modificar y o eliminar. </h3>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock sin_margen%}